#input {
	width:50%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#header {
	background-color:salmon;
	height:20px;
	padding:10px;
}

#calendar {
	margin-top:20px;
	border-radius: 5px;
	width:210px;
	margin-left:auto;
	margin-right:auto;
	text-align:center
}
#back, #forward {
	width:25%;
	float:left;
}

#month {
	width:25%;
	float:left;
}

#year {
	width:25%;
	float:left;
}

#monthDisplay {
	width:210px;
	height:285px;
	background-color:lightsalmon;
	clear:both;
}

#weekHeading .day {
	font-size: 15px !important;
	padding-top:15px;
	background-color:lightyellow;
}

.week{
	width:210px;
	height:30px;
}

.day{
	width:30px;
	height:30px;
	padding-top:10px;
	float:left;
	text-align:center;
	font-size:10px;
	background-color: lightsalmon;
}